# NONE OF THIS WORKS FOR SOME REASON - Can't be bothered to fix this

# Use Https rather than Http

RewriteCond %{HTTP_HOST} !^www\.(.*)$ [OR,NC]
RewriteCond %{https} off
RewriteRule ^(.*)$ https://www.misseniors2022.com/$1 [R=301,L]

# protect .htaccess

<Files .htaccess>
order allow,deny
deny from all
</Files>